<!DOCTYPE html>
<html lang="en" ng-app="alarmApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sunrise Alarm</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron" ng-controller="lightStatus">
      <div class="container">
        <div class="col-sm-8">
          <h1>Light {{ status }}</h1>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-lg btn-block" ng-class="{disabled: !(status_confirmed)}" ng-click="toggle()">
            <h1>Turn {{ btn_action }}</h1>
          </button>
        </div>
      </div>
    </div>
    <div class="container" ng-controller="alarm-cont">
      <div class="container col-md-6" ng-repeat="alarm in alarms">
        <div class="well">
          <div class="container">
            <h2>{{ stringifyTime(alarm.hours, alarm.minutes) }}</h2>
            <p>
              {{ stringifyDays(alarm.days) }}
            </p>
            <button type="button" class="btn btn-primary btn-sm">
              <h4>Edit alarm</h4>
            </button>
          </div>
        </div>
      </div>
    </div>
    </footer>

    <!-- Libraries -->
    <script src="jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="angular.min.js"></script>

    <!-- Functions -->
    <script src="AlarmConstructor.js"></script>
    <!-- Angular stuff -->
    <script>
      var app = angular.module("alarmApp", []);
    </script>
    <script src="lightStatus.js"></script>
    <script src="alarms.js"></script>
  </body>
</html>
