<!DOCTYPE html>
<html lang="en" ng-app="alarmApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sunrise Alarm</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!--icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/sunrise-alarm/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/sunrise-alarm/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/sunrise-alarm/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/sunrise-alarm/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/sunrise-alarm/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/sunrise-alarm/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/sunrise-alarm/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/sunrise-alarm/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/sunrise-alarm/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/sunrise-alarm/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/sunrise-alarm/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/sunrise-alarm/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/sunrise-alarm/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/sunrise-alarm/icons/manifest.json">
    <link rel="mask-icon" href="/sunrise-alarm/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/sunrise-alarm/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/sunrise-alarm/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/sunrise-alarm/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="jumbotron" ng-controller="lightStatus">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>Light {{ status }}</h1>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <button class="btn btn-lg btn-block btn-primary" ng-class="{disabled: !(status_confirmed)}" ng-click="toggle()">
                <h1>Turn {{ btn_action }}</h1>
              </button>
            </div>
            <br />
            <div class="row">
              <button class="btn btn-block" ng-show="status.substring(0,2) == 'on' && status_confirmed" ng-click="toggle(-90000, 'dimming')">
                <h3>Delay off</h3>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" ng-controller="alarm-cont">
      <div class="container col-md-6" ng-repeat="alarm in alarms">
        <div class="well">
          <div class="container" ng-hide="alarm.editing">
            <h2>{{ stringifyTime(alarm.hour, alarm.minute) }}</h2>
            <p>
              {{ stringifyDays(alarm.days) }}
            </p>
            <button type="button" class="btn btn-primary btn-sm" ng-click="alarm.edit()">
              <h4>Edit alarm</h4>
            </button>
            <button type="button" class="btn btn-sm" ng-class="alarm.active ? 'btn-warning' : 'btn-success'" ng-click="alarm.toggle()">
              <h4>Turn alarm {{ alarm.active ? "off" : "on" }}</h4>
            </button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteAlarm(alarm)">
              <h4>Delete alarm</h4>
            </button>
          </div>
          <div class="container-fluid" ng-show="alarm.editing">
            <form role="form">
              <div class="form-group">
                <div class="row">
                  <label for="time"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Alarm time</label>
                  <input class="form-control" ng-model="alarm.time" id="time" type="time">
                </div>
              </div>
              <div class="form-group container-fluid">
                <label class="checkbox-inline">
                  <input ng-model="alarm.days_tf[0]" type="checkbox">Monday
                </label>
                <label class="checkbox-inline">
                  <input ng-model="alarm.days_tf[1]" type="checkbox">Tuesday
                </label>
                <label class="checkbox-inline">
                  <input ng-model="alarm.days_tf[2]" type="checkbox">Wednesday
                </label>
                <label class="checkbox-inline">
                  <input ng-model="alarm.days_tf[3]" type="checkbox">Thursday
                </label>
                <label class="checkbox-inline">
                  <input ng-model="alarm.days_tf[4]" type="checkbox">Friday
                </label>
                <label class="checkbox-inline">
                  <input ng-model="alarm.days_tf[5]" type="checkbox">Saturday
                </label>
                <label class="checkbox-inline">
                  <input ng-model="alarm.days_tf[6]" type="checkbox">Sunday
                </label>
              </div>
              <button type="button" class="btn btn-sm btn-success" ng-click="saveEdits(alarm)">
                <h4>Submit changes</h4>
              </button>
              <button type="button" class="btn btn-sm btn-danger" ng-click="alarm.cancelEdits()">
                <h4>Cancel</h4>
              </button>
            </form>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-lg btn-block" ng-click="addAlarm()">
        <h2>Add alarm</h2>
      </button>
    </div>
    </footer>

    <!-- Libraries -->
    <script src="jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="angular.min.js"></script>

    <!-- Functions -->
    <script src="AlarmConstructor.js"></script>
    <!-- Angular stuff -->
    <script>
      if (localStorage.authkey) {
        var authkey = JSON.parse(localStorage.authkey);
      }
      var app = angular.module("alarmApp", []);
    </script>
    <script src="lightStatus.js"></script>
    <script src="alarms.js"></script>
  </body>
</html>
